<mat-toolbar color="primary">
  <a routerLink="/" class="logo-container">
    <img src="logo.png" alt="GainStack Logo" class="logo">
    <span>{{ title }}</span>
  </a>
  <span class="spacer"></span>
  <a mat-button routerLink="/exercises">Übungen</a>
  <a mat-button routerLink="/training-plans">Trainingspläne</a>
  <a mat-button routerLink="/workouts">Workouts</a>
  <a mat-button routerLink="/analytics">Analytics</a>

  <button mat-icon-button routerLink="/settings">
    <mat-icon>settings</mat-icon>
  </button>

</mat-toolbar>

<main class="content">
  <router-outlet></router-outlet>
</main>
